* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
  background-color: #C5BAAF;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 80vw;
  height: 500px;
  background-color: #EBCFB2;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#favorito-icon {
  margin-right: 3px;
  width: 34px;
  height: 34px;
  background-color: rgb(255, 255, 48);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  /* border: 1px solid white; */
}

#favorito-icon:hover {
  width: 40px;
  height: 40px;
  margin-right: 0;
}


.playlist {
  width: 100%;
  height: 350px;
  width: 90%;
  /* border: 2px solid white; */
  padding: 10px;
  list-style: none;
  background-color:#d5aca9;
}

.playlist li {
  color: white;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.354);
}

.playlist li:hover {
  background-color: #b38d97;
}

.playlist li p {
  color: black;
}

.playlist li img {
  width: 25px;
  margin-right: 5px;
}

.music-number {
  text-align: center;
  font-size: 20px;
  color: black;
}

.player audio {
  width: 270px;
}

@media (max-width: 370px) {
  #container {
    width: 90vw;
  }

  .playlist li p {
    font-size: 17px;
  }
}